# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Google Drive\Study and Books\IT\CodeGym\IntellIJ\Module4\Lesson01\MoneyExchange\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
